In [6]:
import pandas as pd 
file = "business-intelligence-project.xlsx"
data = pd.ExcelFile(file)
print(data.sheet_names) #this returns the all the sheets in the excel file

['Task 1', 'Task 1_cleaned', 'Task 2', 'Task 2_cleaned', 'Task 3', 'Task 3_cleaned']

In [9]:
df = data.parse("Task 1_cleaned")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Employee ID  60 non-null     int64
 1   Sales        60 non-null     float64
dtypes: float64(1), int64(1)
memory usage: 1.1 KB

In [11]:
df.head(10)

   Employee ID        Sales
0         1001   482.660296
1         1002  3353.827431
2         1003  8716.268720
3         1004  5268.511955
4         1005  5272.372750
5         1006  4521.799891
6         1007   339.079381
7         1008  2498.285741
8         1009  4300.096754
9         1010  3531.549682