In [6]:
import pandas as pd 
file = "business-intelligence-project.xlsx"
data = pd.ExcelFile(file)
print(data.sheet_names) #this returns the all the sheets in the excel file

['Task 1', 'Task 1_cleaned', 'Task 2', 'Task 2_cleaned', 'Task 3', 'Task 3_cleaned']

In [9]:
df = data.parse("Task 1_cleaned")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Employee ID  60 non-null     int64
 1   Sales        60 non-null     float64
dtypes: float64(1), int64(1)
memory usage: 1.1 KB

In [11]:
df.head(10)

   Employee ID        Sales
0         1001   482.660296
1         1002  3353.827431
2         1003  8716.268720
3         1004  5268.511955
4         1005  5272.372750
5         1006  4521.799891
6         1007   339.079381
7         1008  2498.285741
8         1009  4300.096754
9         1010  3531.549682

In [23]:
import statistics
data_mean = statistics.mean(df.Sales)
data_median = statistics.median(df.Sales)
data_mode = statistics.mode(df.Sales)
data_max = max(df.Sales)
data_min = min(df.Sales)
data_stdev = statistics.stdev(df.Sales)


print ("Mean is :", data_mean)
print ("Median is :", data_median)
print ("Mode is :", data_mode)
print ("Maximum Value is :", data_max)
print ("Minimum Value is :", data_min)
print ("Standard Deviation is :", data_stdev)

Mean is : 4444.581353167947
Median is : 4290.390277792758
Mode is : 482.6602960145865
Maximum Value is : 9676.027108133301
Minimum Value is : 338.6298319322356
Standard Deviation is : 2689.999286261166